<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offser4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Sign up</h1>
        <%= from_for @user do |f| %>
          <div class="from-group">
            <%= f.label :name, class: 'text-white' %>
            <%= f.text_field :name, class: 'from-control' %>
          </div>
          <div class="from-group">
            <%= f.labrl :email, class: 'text-white' %>
            <%= f.text_field :email, class: 'from-control' %>
          </div>
          
          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
        <%= link_to 'ログインはこちら', '#',class: 'text-white' %>
      </div>
    </div>
  </div>
</div>